body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-image: url('https://cloudfront-us-east-1.images.arcpublishing.com/radiomitre/SVBU5XI3MJFPHMTFBJHG2IBML4.jpg');
  background-size: cover; /* Para cubrir todo el área del encabezado */
  background-position: center; /* Para centrar la imagen */
  color: #ff;
  text-align: center;
  padding: 20px 0;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.1em;
  line-height: 1.6;
}

.oferta {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.countdown {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.tiempo {
  display: inline-block;
}

.separador {
  margin: 0 5px;
}

.btn-comprar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.testimonios {
  padding: 20px;
}

.testimonio {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.mensaje img {
  max-width: 50%;
  display: block;
  margin: 0 auto 10px; /* Ajusta el margen inferior para separar la imagen del texto */
}


.testimonio {
  background-color: #fff;
